.cabeçalho{
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 15px;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  border-radius: 10px;

  width: 100%;

  display:flex;
}
body{
background: rgb(47,47,47);
background: linear-gradient(90deg, rgba(47,47,47,1) 0%, rgba(217,217,217,1) 100%);
}
.separaçao{
  color: black;
  text-anchor: middle;
}
